
<div class="d-flex justify-content-center h-100">
    Voting sumaries
  </div>
<div >
<table class="table table-striped table-bordered text-center overflow-y-scroll ">
  <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Votting count</th>
    
    </tr>
  </thead>
  <tbody>
    
    {{#each data}}
    {{#if this.exist}}
     <tr class="text-decoration-none">
      
      <td >{{this.id}}</td>
      <td >{{this.number}}</td>
     
    </tr>
    {{else}}
  <tr class=" text-danger">
      
      <td class="text-decoration-line-through" >{{this.id}}</td>
      <td class="text-decoration-line-through">{{this.number}}</td>
     
    </tr>
    {{/if}}
    {{/each}}
   
 
  </tbody>
</table>
    </div>
